* {
	font-family: "Tajawal", sans-serif;
}

p {
	font-size: 1.4rem;
	line-height: 1.8;
	// max-width: 75ch;
	margin: 0 auto;
}

.ul {
	margin: 0;
	padding: 3rem;
	display: flex;
	flex-direction: column;
	gap: 1.3rem;
	li {
		font-size: 1.3rem;
	}
}

.card-ul {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 4rem;
	list-style: none;
	li {
		a {
			// background: var(--color-primary);
			border: 2px solid var(--color-primary);
			height: 150px;
			width: 250px;
			display: flex;
			justify-content: center;
			align-items: center;
			color: #4d4d4d;
			transition: 0.2s ease-in;
			border-radius: 25px;
			font-size: 1.3rem;
			&:hover {
				background: var(--color-primary);
				color: ivory;
			}
		}
	}
}
